.elementor-406 .elementor-element.elementor-element-eaad7a3 .elementor-repeater-item-b651b94 .swiper-slide-contents{text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-406 .elementor-element.elementor-element-eaad7a3 .swiper-slide{height:96vh;transition-duration:calc(5000ms*1.2);}.elementor-406 .elementor-element.elementor-element-eaad7a3 .swiper-slide-contents{max-width:100%;}.elementor-406 .elementor-element.elementor-element-eaad7a3 .swiper-slide-inner{text-align:center;}.elementor-406 .elementor-element.elementor-element-eaad7a3 .elementor-slide-button{color:#CF0000;}.elementor-406 .elementor-element.elementor-element-eaad7a3 .swiper-pagination-bullet{height:10px;width:10px;}.elementor-406 .elementor-element.elementor-element-eaad7a3 .swiper-container-horizontal .swiper-pagination-progressbar{height:10px;}.elementor-406 .elementor-element.elementor-element-eaad7a3 .swiper-pagination-fraction{font-size:10px;}.elementor-406 .elementor-element.elementor-element-2444c19 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-406 .elementor-element.elementor-element-2444c19:not(.elementor-motion-effects-element-type-background), .elementor-406 .elementor-element.elementor-element-2444c19 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F1F1F1;}.elementor-406 .elementor-element.elementor-element-2444c19{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-406 .elementor-element.elementor-element-2444c19 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-406 .elementor-element.elementor-element-41fa2bd{text-align:center;}.elementor-406 .elementor-element.elementor-element-30bb1d7{width:auto;max-width:auto;}.elementor-406 .elementor-element.elementor-element-458255a{width:auto;max-width:auto;}.elementor-406 .elementor-element.elementor-element-f69ad5e{text-align:center;}.elementor-406 .elementor-element.elementor-element-f69ad5e .elementor-heading-title{font-weight:500;}.elementor-406 .elementor-element.elementor-element-e196144{text-align:center;}.elementor-406 .elementor-element.elementor-element-e196144 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-406 .elementor-element.elementor-element-9f8f1b0 .elementor-field-group{margin-bottom:4px;}.elementor-406 .elementor-element.elementor-element-9f8f1b0 .elementor-form-fields-wrapper{margin-bottom:-4px;}.elementor-406 .elementor-element.elementor-element-9f8f1b0 .elementor-field-group > a{color:#FFFFFF;}.elementor-406 .elementor-element.elementor-element-9f8f1b0 .elementor-field-group > a:hover{color:#E90F0F;}body .elementor-406 .elementor-element.elementor-element-9f8f1b0 .elementor-field-group > label{padding-bottom:22px;}.elementor-406 .elementor-element.elementor-element-9f8f1b0 .elementor-form-fields-wrapper label{color:#000000;}.elementor-406 .elementor-element.elementor-element-9f8f1b0 .elementor-field-group .elementor-field:not(.elementor-select-wrapper){background-color:#F9F9F9;}.elementor-406 .elementor-element.elementor-element-9f8f1b0 .elementor-field-group .elementor-select-wrapper select{background-color:#F9F9F9;}.elementor-406 .elementor-element.elementor-element-9f8f1b0 .elementor-button{background-color:#F00DD7;}.elementor-406 .elementor-element.elementor-element-9f8f1b0 > .elementor-widget-container{padding:22px 22px 22px 22px;}.elementor-406 .elementor-element.elementor-element-48364f9{--divider-style:solid;--subtotal-divider-style:solid;--elementor-remove-from-cart-button:none;--remove-from-cart-button:block;--toggle-button-text-color:#FF00B4;--toggle-button-border-color:#B4222200;--cart-background-color:#000000;--cart-border-style:none;--cart-close-icon-size:0px;--remove-item-button-size:3px;--divider-width:0px;--subtotal-divider-top-width:0px;--subtotal-divider-right-width:0px;--subtotal-divider-bottom-width:0px;--subtotal-divider-left-width:0px;--cart-footer-layout:1fr 1fr;--products-max-height-sidecart:calc(100vh - 240px);--products-max-height-minicart:calc(100vh - 385px);}.elementor-406 .elementor-element.elementor-element-48364f9 .widget_shopping_cart_content{--subtotal-divider-left-width:0;--subtotal-divider-right-width:0;}.elementor-406 .elementor-element.elementor-element-2851c92 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-406 .elementor-element.elementor-element-2851c92{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-406 .elementor-element.elementor-element-2851c92 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-406 .elementor-element.elementor-element-26605ee .elementor-menu-toggle{margin:0 auto;}.elementor-406 .elementor-element.elementor-element-26605ee .elementor-nav-menu .elementor-item{font-weight:800;}.elementor-406 .elementor-element.elementor-element-26605ee .elementor-nav-menu--main .elementor-item{color:#000000;fill:#000000;}.elementor-406 .elementor-element.elementor-element-26605ee .elementor-nav-menu--main .elementor-item:hover,
					.elementor-406 .elementor-element.elementor-element-26605ee .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-406 .elementor-element.elementor-element-26605ee .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-406 .elementor-element.elementor-element-26605ee .elementor-nav-menu--main .elementor-item:focus{color:#FF00E2;fill:#FF00E2;}.elementor-406 .elementor-element.elementor-element-26605ee .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-406 .elementor-element.elementor-element-26605ee .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#02010100;}.elementor-406 .elementor-element.elementor-element-26605ee .e--pointer-framed .elementor-item:before,
					.elementor-406 .elementor-element.elementor-element-26605ee .e--pointer-framed .elementor-item:after{border-color:#02010100;}.elementor-406 .elementor-element.elementor-element-26605ee .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#FF00C8;}.elementor-406 .elementor-element.elementor-element-26605ee .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
					.elementor-406 .elementor-element.elementor-element-26605ee .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after{background-color:#02010100;}.elementor-406 .elementor-element.elementor-element-26605ee .e--pointer-framed .elementor-item.elementor-item-active:before,
					.elementor-406 .elementor-element.elementor-element-26605ee .e--pointer-framed .elementor-item.elementor-item-active:after{border-color:#02010100;}.elementor-406 .elementor-element.elementor-element-41a5e97 .elementor-icon-wrapper{text-align:center;}.elementor-406 .elementor-element.elementor-element-41a5e97 .elementor-icon{font-size:18px;}.elementor-406 .elementor-element.elementor-element-41a5e97 .elementor-icon i, .elementor-406 .elementor-element.elementor-element-41a5e97 .elementor-icon svg{transform:rotate(0deg);}.elementor-406 .elementor-element.elementor-element-f056afa .elementor-search-form__container{min-height:50px;box-shadow:3px 1px 10px 0px rgba(0,0,0,0.5);}.elementor-406 .elementor-element.elementor-element-f056afa .elementor-search-form__submit{min-width:50px;}body:not(.rtl) .elementor-406 .elementor-element.elementor-element-f056afa .elementor-search-form__icon{padding-left:calc(50px / 3);}body.rtl .elementor-406 .elementor-element.elementor-element-f056afa .elementor-search-form__icon{padding-right:calc(50px / 3);}.elementor-406 .elementor-element.elementor-element-f056afa .elementor-search-form__input, .elementor-406 .elementor-element.elementor-element-f056afa.elementor-search-form--button-type-text .elementor-search-form__submit{padding-left:calc(50px / 3);padding-right:calc(50px / 3);}.elementor-406 .elementor-element.elementor-element-f056afa:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container{background-color:#FFFFFF;border-radius:3px;}.elementor-406 .elementor-element.elementor-element-f056afa.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{background-color:#FFFFFF;border-radius:3px;}@media(min-width:768px){.elementor-406 .elementor-element.elementor-element-0b67029{width:100%;}.elementor-406 .elementor-element.elementor-element-cf11b20{width:11.753%;}.elementor-406 .elementor-element.elementor-element-5a70d92{width:20.913%;}.elementor-406 .elementor-element.elementor-element-12d1c58{width:94.825%;}.elementor-406 .elementor-element.elementor-element-5c59345{width:5.131%;}}/* Start custom CSS for heading, class: .elementor-element-41fa2bd */.elementor-406 .elementor-element.elementor-element-41fa2bd i{
     color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-30bb1d7 */.dropbtn {
  /*background-color: #fff;*/
  color: #333;
  /*padding:0 60px;*/
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
    z-index: 1000;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #fff;
    

}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-458255a */.elementor-406 .elementor-element.elementor-element-458255a .dropbtn {
  /*background-color: #fff;*/
  color: #333;
  /*padding:0 60px;*/
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  
  
}

.elementor-406 .elementor-element.elementor-element-458255a .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.elementor-406 .elementor-element.elementor-element-458255a .dropdown-content a {
    z-index: 1000;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #fff;
    

}

.elementor-406 .elementor-element.elementor-element-458255a .dropdown-content a:hover {background-color: #f1f1f1}

.elementor-406 .elementor-element.elementor-element-458255a .dropdown:hover .dropdown-content {
  display: block;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-e196144 */.elementor-406 .elementor-element.elementor-element-e196144{
    height: 30px;
    margin: auto;
}/* End custom CSS */
/* Start custom CSS for login, class: .elementor-element-9f8f1b0 */.elementor-406 .elementor-element.elementor-element-9f8f1b0{
    position: absolute;
    top:100%;
    right: 0;
    display: none;
    z-index: 1000;
    background-color: #fff;
    width: 300px;
    box-shadow: 5px 5px 15px #333;
}
.elementor-406 .elementor-element.elementor-element-9f8f1b0:before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background: #fff;
    top:-5px;
    right: 30px;
    transform: rotate(45deg);
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-6ab99f7 */.elementor-406 .elementor-element.elementor-element-6ab99f7{
    position: relative;
}
.elementor-406 .elementor-element.elementor-element-6ab99f7:hover  #forlogin{
    display: block
}/* End custom CSS */
/* Start custom CSS for search-form, class: .elementor-element-f056afa */.elementor-406 .elementor-element.elementor-element-f056afa{
    position: absolute;
    top:60px;
    width: 400px;
    right: 0;
    display: none;
    z-index: 1000;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-5c59345 */.elementor-406 .elementor-element.elementor-element-5c59345{
    position: relative;
}
.elementor-406 .elementor-element.elementor-element-5c59345:hover #nav-search{
    display: block;
}/* End custom CSS */