.elementor-995 .elementor-element.elementor-element-f58aa0c > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-995 .elementor-element.elementor-element-f58aa0c:not(.elementor-motion-effects-element-type-background), .elementor-995 .elementor-element.elementor-element-f58aa0c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F1F1F1;}.elementor-995 .elementor-element.elementor-element-f58aa0c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-995 .elementor-element.elementor-element-f58aa0c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-995 .elementor-element.elementor-element-c0e084e{text-align:center;}.elementor-995 .elementor-element.elementor-element-2063cc3{width:auto;max-width:auto;}.elementor-995 .elementor-element.elementor-element-bdd441f{width:auto;max-width:auto;}.elementor-995 .elementor-element.elementor-element-6c6a2f6{text-align:center;}.elementor-995 .elementor-element.elementor-element-6c6a2f6 .elementor-heading-title{font-weight:500;}.elementor-995 .elementor-element.elementor-element-36cb48e{text-align:center;}.elementor-995 .elementor-element.elementor-element-36cb48e > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-995 .elementor-element.elementor-element-66857af .elementor-field-group{margin-bottom:4px;}.elementor-995 .elementor-element.elementor-element-66857af .elementor-form-fields-wrapper{margin-bottom:-4px;}.elementor-995 .elementor-element.elementor-element-66857af .elementor-field-group > a{color:#FFFFFF;}.elementor-995 .elementor-element.elementor-element-66857af .elementor-field-group > a:hover{color:#E90F0F;}body .elementor-995 .elementor-element.elementor-element-66857af .elementor-field-group > label{padding-bottom:22px;}.elementor-995 .elementor-element.elementor-element-66857af .elementor-form-fields-wrapper label{color:#000000;}.elementor-995 .elementor-element.elementor-element-66857af .elementor-field-group .elementor-field:not(.elementor-select-wrapper){background-color:#F9F9F9;}.elementor-995 .elementor-element.elementor-element-66857af .elementor-field-group .elementor-select-wrapper select{background-color:#F9F9F9;}.elementor-995 .elementor-element.elementor-element-66857af .elementor-button{background-color:#F00DD7;}.elementor-995 .elementor-element.elementor-element-66857af > .elementor-widget-container{padding:22px 22px 22px 22px;}.elementor-995 .elementor-element.elementor-element-b6b1466{--divider-style:solid;--subtotal-divider-style:solid;--elementor-remove-from-cart-button:none;--remove-from-cart-button:block;--toggle-button-text-color:#FF00B4;--toggle-button-border-color:#B4222200;--cart-background-color:#000000;--cart-border-style:none;--cart-close-icon-size:0px;--remove-item-button-size:3px;--divider-width:0px;--subtotal-divider-top-width:0px;--subtotal-divider-right-width:0px;--subtotal-divider-bottom-width:0px;--subtotal-divider-left-width:0px;--cart-footer-layout:1fr 1fr;--products-max-height-sidecart:calc(100vh - 240px);--products-max-height-minicart:calc(100vh - 385px);}.elementor-995 .elementor-element.elementor-element-b6b1466 .widget_shopping_cart_content{--subtotal-divider-left-width:0;--subtotal-divider-right-width:0;}.elementor-995 .elementor-element.elementor-element-5c63b70 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-995 .elementor-element.elementor-element-5c63b70{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-995 .elementor-element.elementor-element-5c63b70 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-995 .elementor-element.elementor-element-c825f0a .elementor-menu-toggle{margin:0 auto;}.elementor-995 .elementor-element.elementor-element-c825f0a .elementor-nav-menu .elementor-item{font-weight:800;}.elementor-995 .elementor-element.elementor-element-c825f0a .elementor-nav-menu--main .elementor-item{color:#000000;fill:#000000;}.elementor-995 .elementor-element.elementor-element-c825f0a .elementor-nav-menu--main .elementor-item:hover,
					.elementor-995 .elementor-element.elementor-element-c825f0a .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-995 .elementor-element.elementor-element-c825f0a .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-995 .elementor-element.elementor-element-c825f0a .elementor-nav-menu--main .elementor-item:focus{color:#FF00E2;fill:#FF00E2;}.elementor-995 .elementor-element.elementor-element-c825f0a .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-995 .elementor-element.elementor-element-c825f0a .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#02010100;}.elementor-995 .elementor-element.elementor-element-c825f0a .e--pointer-framed .elementor-item:before,
					.elementor-995 .elementor-element.elementor-element-c825f0a .e--pointer-framed .elementor-item:after{border-color:#02010100;}.elementor-995 .elementor-element.elementor-element-c825f0a .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#FF00C8;}.elementor-995 .elementor-element.elementor-element-c825f0a .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
					.elementor-995 .elementor-element.elementor-element-c825f0a .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after{background-color:#02010100;}.elementor-995 .elementor-element.elementor-element-c825f0a .e--pointer-framed .elementor-item.elementor-item-active:before,
					.elementor-995 .elementor-element.elementor-element-c825f0a .e--pointer-framed .elementor-item.elementor-item-active:after{border-color:#02010100;}.elementor-995 .elementor-element.elementor-element-446b18c .elementor-icon-wrapper{text-align:center;}.elementor-995 .elementor-element.elementor-element-446b18c .elementor-icon{font-size:18px;}.elementor-995 .elementor-element.elementor-element-446b18c .elementor-icon i, .elementor-995 .elementor-element.elementor-element-446b18c .elementor-icon svg{transform:rotate(0deg);}.elementor-995 .elementor-element.elementor-element-fc711ca .elementor-search-form__container{min-height:50px;box-shadow:3px 1px 10px 0px rgba(0,0,0,0.5);}.elementor-995 .elementor-element.elementor-element-fc711ca .elementor-search-form__submit{min-width:50px;}body:not(.rtl) .elementor-995 .elementor-element.elementor-element-fc711ca .elementor-search-form__icon{padding-left:calc(50px / 3);}body.rtl .elementor-995 .elementor-element.elementor-element-fc711ca .elementor-search-form__icon{padding-right:calc(50px / 3);}.elementor-995 .elementor-element.elementor-element-fc711ca .elementor-search-form__input, .elementor-995 .elementor-element.elementor-element-fc711ca.elementor-search-form--button-type-text .elementor-search-form__submit{padding-left:calc(50px / 3);padding-right:calc(50px / 3);}.elementor-995 .elementor-element.elementor-element-fc711ca:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container{background-color:#FFFFFF;border-radius:3px;}.elementor-995 .elementor-element.elementor-element-fc711ca.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{background-color:#FFFFFF;border-radius:3px;}.elementor-995 .elementor-element.elementor-element-9d6bde2 > .elementor-container{min-height:284px;}.elementor-995 .elementor-element.elementor-element-9d6bde2:not(.elementor-motion-effects-element-type-background), .elementor-995 .elementor-element.elementor-element-9d6bde2 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://thientrile.github.io/mywordpress/wp-content/uploads/2022/10/bg_breadcrumb_v1-1.jpg");background-position:-229px -329px;background-repeat:no-repeat;background-size:auto;}.elementor-995 .elementor-element.elementor-element-9d6bde2{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-995 .elementor-element.elementor-element-9d6bde2 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-995 .elementor-element.elementor-element-7d75b3c.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-995 .elementor-element.elementor-element-7d75b3c.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-995 .elementor-element.elementor-element-bda27c5{text-align:center;}.elementor-995 .elementor-element.elementor-element-bda27c5 .elementor-heading-title{color:#FFFFFF;font-weight:800;}.elementor-995 .elementor-element.elementor-element-02fc61d .woocommerce-breadcrumb{color:#FFFFFF;text-align:center;}.elementor-995 .elementor-element.elementor-element-02fc61d .woocommerce-breadcrumb > a{color:#C3B4B4;}@media(min-width:768px){.elementor-995 .elementor-element.elementor-element-676d757{width:11.753%;}.elementor-995 .elementor-element.elementor-element-6690637{width:20.913%;}.elementor-995 .elementor-element.elementor-element-c1489b6{width:94.825%;}.elementor-995 .elementor-element.elementor-element-ebb11bc{width:5.131%;}}@media(min-width:1025px){.elementor-995 .elementor-element.elementor-element-9d6bde2:not(.elementor-motion-effects-element-type-background), .elementor-995 .elementor-element.elementor-element-9d6bde2 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-attachment:fixed;}}/* Start custom CSS for heading, class: .elementor-element-c0e084e */.elementor-995 .elementor-element.elementor-element-c0e084e i{
     color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-2063cc3 */.dropbtn {
  /*background-color: #fff;*/
  color: #333;
  /*padding:0 60px;*/
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
    z-index: 1000;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #fff;
    

}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-bdd441f */.elementor-995 .elementor-element.elementor-element-bdd441f .dropbtn {
  /*background-color: #fff;*/
  color: #333;
  /*padding:0 60px;*/
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  
  
}

.elementor-995 .elementor-element.elementor-element-bdd441f .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.elementor-995 .elementor-element.elementor-element-bdd441f .dropdown-content a {
    z-index: 1000;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #fff;
    

}

.elementor-995 .elementor-element.elementor-element-bdd441f .dropdown-content a:hover {background-color: #f1f1f1}

.elementor-995 .elementor-element.elementor-element-bdd441f .dropdown:hover .dropdown-content {
  display: block;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-36cb48e */.elementor-995 .elementor-element.elementor-element-36cb48e{
    height: 30px;
    margin: auto;
}/* End custom CSS */
/* Start custom CSS for login, class: .elementor-element-66857af */.elementor-995 .elementor-element.elementor-element-66857af{
    position: absolute;
    top:100%;
    right: 0;
    display: none;
    z-index: 1000;
    background-color: #fff;
    width: 300px;
    box-shadow: 5px 5px 15px #333;
}
.elementor-995 .elementor-element.elementor-element-66857af:before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background: #fff;
    top:-5px;
    right: 30px;
    transform: rotate(45deg);
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-2b064a4 */.elementor-995 .elementor-element.elementor-element-2b064a4{
    position: relative;
}
.elementor-995 .elementor-element.elementor-element-2b064a4:hover  #forlogin{
    display: block
}/* End custom CSS */
/* Start custom CSS for search-form, class: .elementor-element-fc711ca */.elementor-995 .elementor-element.elementor-element-fc711ca{
    position: absolute;
    top:60px;
    width: 400px;
    right: 0;
    display: none;
    z-index: 1000;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ebb11bc */.elementor-995 .elementor-element.elementor-element-ebb11bc{
    position: relative;
}
.elementor-995 .elementor-element.elementor-element-ebb11bc:hover #nav-search{
    display: block;
}/* End custom CSS */