.elementor-392 .elementor-element.elementor-element-7a03036 > .elementor-widget-container:hover{--e-transform-scale:1.2;}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-8d41337.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-8d41337.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-8d41337.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-392 .elementor-element.elementor-element-cade779{text-align:center;}/* Start custom CSS for column, class: .elementor-element-73176f5 */.elementor-392 .elementor-element.elementor-element-73176f5{
    overflow: hidden;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-cade779 */.elementor-392 .elementor-element.elementor-element-cade779:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: none;
    
    left: 0;
    border: 10px solid #f2d70c;
    opacity: 0;
    transition: all .1s;
    
}
.elementor-392 .elementor-element.elementor-element-cade779:hover:before{
     opacity: 0.5;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-cf02dde */.elementor-392 .elementor-element.elementor-element-cf02dde{
    transition: all 1s;
}
.elementor-392 .elementor-element.elementor-element-cf02dde:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
   opacity: 0;
    
    left: 0;
    transition: all 1s;
   
    
    
}
.elementor-392 .elementor-element.elementor-element-cf02dde:hover:before{
     opacity: 0.7;
}
.elementor-392 .elementor-element.elementor-element-cf02dde:hover{
    transform: scale(1.1);
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-5dfcb7f */.elementor-392 .elementor-element.elementor-element-5dfcb7f{
    overflow: hidden;
}/* End custom CSS */