.elementor-392 .elementor-element.elementor-element-7a03036 > .elementor-widget-container:hover{--e-transform-scale:1.2;}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-8d41337.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-8d41337.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-8d41337.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-392 .elementor-element.elementor-element-cade779{text-align:center;}.elementor-392 .elementor-element.elementor-element-44d69d8 .elementor-heading-title{font-weight:800;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-product-carousel{border-style:solid;border-width:1px 1px 1px 1px;border-color:#eee;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-product-carousel .product-details-wrap{padding:15px 15px 15px 15px;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-product-carousel .star-rating::before{color:#f2b01e;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-product-carousel .star-rating span::before{color:#f2b01e;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-woo-product-carousel-container .woocommerce ul.products .product .star-rating{font-size:14px!important;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-woo-product-carousel-container .woocommerce ul.products .product .star-rating::before{font-size:14px!important;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-woo-product-carousel-container .woocommerce ul.products .product .star-rating span::before{font-size:14px!important;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .woocommerce ul.products li.product .onsale, .elementor-392 .elementor-element.elementor-element-5b9ffb0 .woocommerce ul.products li.product .eael-onsale{color:#fff;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .woocommerce ul.products li.product .outofstock-badge, .elementor-392 .elementor-element.elementor-element-5b9ffb0 .woocommerce ul.products li.product .eael-onsale.outofstock{color:#fff;background-color:#ff2a13;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .woocommerce ul.products li.product .eael-onsale.outofstock.sale-preset-4:after{border-left-color:#ff2a13;border-right-color:#ff2a13;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-product-carousel .icons-wrap:not(.details-block-style-2) li a{border-radius:3px;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-product-carousel .icons-wrap.details-block-style-2 li:only-child a{border-radius:3px!important;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-product-carousel .icons-wrap.details-block-style-2 li:first-child a{border-radius:3px 0 0 3px;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-product-carousel .icons-wrap.details-block-style-2 li:last-child a{border-radius:0 3px 3px 0;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-product-quick-view-title.product_title.entry-title{color:#252525;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0 div.product .price{font-weight:900;color:#000000!important;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0 div.product .price ins{color:#ff2a13!important;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0 .woocommerce-product-details__short-description{color:#707070;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0 .woocommerce-product-rating .star-rating::before, .eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0 .woocommerce-product-rating .star-rating span::before{color:#FF8A0B;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0  a.woocommerce-review-link{color:#0274be;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0  a.woocommerce-review-link:hover{color:#0274be;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0 div.product table tbody tr, .elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-product-popup.woocommerce div.product .product_meta{border-color:#ccc;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0 div.product form.cart div.quantity .qty, .elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-product-popup.woocommerce div.product form.cart div.quantity > a, .elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-product-popup.woocommerce div.product form.cart div.quantity > .button{color:#000;background-color:#fff;border-color:#000;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0 div.product form.cart div.quantity .qty:focus{border-color:#000;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0 .button, .eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0 button.button.alt{color:#fff;background-color:#000000;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0 .button:hover, .eael-popup-details-render.elementor-392 .elementor-element.elementor-element-5b9ffb0 button.button.alt:hover{color:#F5EAFF;background-color:#F12DE0;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .swiper-container-wrap .swiper-button-next, .elementor-392 .elementor-element.elementor-element-5b9ffb0 .swiper-container-wrap .swiper-button-prev{width:40px;height:40px;font-size:22px;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .swiper-container-wrap .swiper-button-prev{left:40px;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .swiper-container-wrap .swiper-button-next{right:40px;}.elementor-392 .elementor-element.elementor-element-5b9ffb0 .eael-no-posts-found{padding:25px 25px 25px 25px;text-align:center;}.elementor-392 .elementor-element.elementor-element-a623fe3 > .elementor-container{min-height:646px;}.elementor-392 .elementor-element.elementor-element-a623fe3:not(.elementor-motion-effects-element-type-background), .elementor-392 .elementor-element.elementor-element-a623fe3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://thientrile.github.io/mywordpress/wp-content/uploads/2022/10/bg-deal-glasses-1.jpg");}.elementor-392 .elementor-element.elementor-element-a623fe3{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-392 .elementor-element.elementor-element-a623fe3 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-392 .elementor-element.elementor-element-9651281{text-align:center;}.elementor-392 .elementor-element.elementor-element-9651281 .elementor-heading-title{color:#FFFFFF;font-size:75px;font-weight:600;}.elementor-392 .elementor-element.elementor-element-08fef77{text-align:center;}.elementor-392 .elementor-element.elementor-element-08fef77 .elementor-heading-title{color:#FFFFFF;font-size:28px;font-weight:500;}.elementor-392 .elementor-element.elementor-element-8c05fff .eael-countdown-item > div{text-align:center;margin-right:0px;margin-left:0px;padding:9px 9px 9px 9px;}.elementor-392 .elementor-element.elementor-element-8c05fff .eael-countdown-items>li{display:table-cell;}.elementor-392 .elementor-element.elementor-element-8c05fff .eael-countdown-digits::after{left:98%;}.elementor-392 .elementor-element.elementor-element-8c05fff .eael-countdown-container{margin-right:-0px;margin-left:-0px;margin-bottom:32px;}.elementor-392 .elementor-element.elementor-element-8c05fff .eael-countdown-digits{color:#FFFFFF;font-size:52px;}.elementor-392 .elementor-element.elementor-element-8c05fff .eael-countdown-label{color:#FFFFFF;font-size:26px;font-weight:800;}.elementor-392 .elementor-element.elementor-element-8c05fff .eael-countdown-item > div.eael-countdown-days{border-color:#FFFFFF;}.elementor-392 .elementor-element.elementor-element-8c05fff .eael-countdown-item > div.eael-countdown-hours{border-color:#FFFFFF;}.elementor-392 .elementor-element.elementor-element-8c05fff .eael-countdown-minutes .eael-countdown-digits{color:#FFFFFF;}.elementor-392 .elementor-element.elementor-element-8c05fff .eael-countdown-minutes .eael-countdown-label{color:#FFFFFF;}.elementor-392 .elementor-element.elementor-element-8c05fff .eael-countdown-item > div.eael-countdown-minutes{border-color:#FFFFFF;}.elementor-392 .elementor-element.elementor-element-8c05fff .eael-countdown-item > div.eael-countdown-seconds{border-color:#FFFFFF;}.elementor-392 .elementor-element.elementor-element-5b728bd .elementor-heading-title{font-weight:800;}.elementor-392 .elementor-element.elementor-element-517f7c8 .eael-product-carousel{border-style:solid;border-width:1px 1px 1px 1px;border-color:#eee;}.elementor-392 .elementor-element.elementor-element-517f7c8 .eael-product-carousel .product-details-wrap{padding:15px 15px 15px 15px;}.elementor-392 .elementor-element.elementor-element-517f7c8 .eael-product-carousel .star-rating::before{color:#f2b01e;}.elementor-392 .elementor-element.elementor-element-517f7c8 .eael-product-carousel .star-rating span::before{color:#f2b01e;}.elementor-392 .elementor-element.elementor-element-517f7c8 .eael-woo-product-carousel-container .woocommerce ul.products .product .star-rating{font-size:14px!important;}.elementor-392 .elementor-element.elementor-element-517f7c8 .eael-woo-product-carousel-container .woocommerce ul.products .product .star-rating::before{font-size:14px!important;}.elementor-392 .elementor-element.elementor-element-517f7c8 .eael-woo-product-carousel-container .woocommerce ul.products .product .star-rating span::before{font-size:14px!important;}.elementor-392 .elementor-element.elementor-element-517f7c8 .woocommerce ul.products li.product .onsale, .elementor-392 .elementor-element.elementor-element-517f7c8 .woocommerce ul.products li.product .eael-onsale{color:#fff;}.elementor-392 .elementor-element.elementor-element-517f7c8 .woocommerce ul.products li.product .outofstock-badge, .elementor-392 .elementor-element.elementor-element-517f7c8 .woocommerce ul.products li.product .eael-onsale.outofstock{color:#fff;background-color:#ff2a13;}.elementor-392 .elementor-element.elementor-element-517f7c8 .woocommerce ul.products li.product .eael-onsale.outofstock.sale-preset-4:after{border-left-color:#ff2a13;border-right-color:#ff2a13;}.elementor-392 .elementor-element.elementor-element-517f7c8 .eael-product-carousel .icons-wrap:not(.details-block-style-2) li a{border-radius:3px;}.elementor-392 .elementor-element.elementor-element-517f7c8 .eael-product-carousel .icons-wrap.details-block-style-2 li:only-child a{border-radius:3px!important;}.elementor-392 .elementor-element.elementor-element-517f7c8 .eael-product-carousel .icons-wrap.details-block-style-2 li:first-child a{border-radius:3px 0 0 3px;}.elementor-392 .elementor-element.elementor-element-517f7c8 .eael-product-carousel .icons-wrap.details-block-style-2 li:last-child a{border-radius:0 3px 3px 0;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8 .eael-product-quick-view-title.product_title.entry-title{color:#252525;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8 div.product .price{color:#0242e4!important;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8 div.product .price ins{color:#ff2a13!important;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8 .woocommerce-product-details__short-description{color:#707070;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8 .woocommerce-product-rating .star-rating::before, .eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8 .woocommerce-product-rating .star-rating span::before{color:#0274be;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8  a.woocommerce-review-link{color:#0274be;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8  a.woocommerce-review-link:hover{color:#0274be;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8 div.product table tbody tr, .elementor-392 .elementor-element.elementor-element-517f7c8 .eael-product-popup.woocommerce div.product .product_meta{border-color:#ccc;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8 div.product form.cart div.quantity .qty, .elementor-392 .elementor-element.elementor-element-517f7c8 .eael-product-popup.woocommerce div.product form.cart div.quantity > a, .elementor-392 .elementor-element.elementor-element-517f7c8 .eael-product-popup.woocommerce div.product form.cart div.quantity > .button{color:#000;background-color:#fff;border-color:#000;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8 div.product form.cart div.quantity .qty:focus{border-color:#000;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8 .button, .eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8 button.button.alt{color:#fff;background-color:#8040FF;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8 .button:hover, .eael-popup-details-render.elementor-392 .elementor-element.elementor-element-517f7c8 button.button.alt:hover{color:#F5EAFF;background-color:#F12DE0;}.elementor-392 .elementor-element.elementor-element-517f7c8 .eael-no-posts-found{padding:25px 25px 25px 25px;text-align:center;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .eael-cat-tab{text-align:center;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .woocommerce ul.products li.product, .elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .icons-wrap.block-box-style{background-color:#fff;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .woocommerce ul.products li.product{border-style:solid;border-width:1px 1px 1px 1px;border-color:#eee;border-radius:5px 5px 5px 5px;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .woocommerce ul.products li.product woocommerce-loop-product__link img{border-radius:5px 5px 0 0;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .eael-product-wrap .product-details-wrap{padding:15px 15px 15px 15px;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .woocommerce ul.products li.product .woocommerce-loop-product__title, .elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .woocommerce ul.products li.product .eael-product-title *{color:#272727;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .woocommerce ul.products li.product .price, .elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .woocommerce ul.products li.product .eael-product-price{color:#272727;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .woocommerce .star-rating::before{color:#f2b01e;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .woocommerce .star-rating span::before{color:#f2b01e;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .woocommerce ul.products li.product .star-rating{font-size:15px!important;}.elementor-392 .elementor-element.elementor-element-1ed3001 .woocommerce ul.products li.product .onsale, .elementor-392 .elementor-element.elementor-element-1ed3001 .woocommerce ul.products li.product .eael-onsale{color:#fff;background-color:#ff2a13;}.elementor-392 .elementor-element.elementor-element-1ed3001 .woocommerce ul.products li.product .eael-onsale:not(.outofstock).sale-preset-4:after{border-left-color:#ff2a13;border-right-color:#ff2a13;}.elementor-392 .elementor-element.elementor-element-1ed3001 .woocommerce ul.products li.product .outofstock-badge, .elementor-392 .elementor-element.elementor-element-1ed3001 .woocommerce ul.products li.product .eael-onsale.outofstock{color:#fff;background-color:#ff2a13;}.elementor-392 .elementor-element.elementor-element-1ed3001 .woocommerce ul.products li.product .eael-onsale.outofstock.sale-preset-4:after{border-left-color:#ff2a13;border-right-color:#ff2a13;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .eael-product-wrap .icons-wrap li a{color:#1230E9;background-color:#FFFFFF;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .eael-product-wrap .icons-wrap:not(.details-block-style-2) li a{border-radius:3px;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .eael-product-wrap .icons-wrap.details-block-style-2 li:only-child a{border-radius:3px!important;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .eael-product-wrap .icons-wrap.details-block-style-2 li:first-child a{border-radius:3px 0 0 3px;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .eael-product-wrap .icons-wrap.details-block-style-2 li:last-child a{border-radius:0 3px 3px 0;}.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .eael-product-wrap .icons-wrap li a:hover{color:#F5EAFF;background-color:#4045AE;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 div.product .product_title{color:#252525;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 div.product .price{color:#0242e4!important;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 div.product .price ins{color:#ff2a13!important;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 .woocommerce-product-details__short-description{color:#707070;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 .product_meta a.woocommerce-review-link, .eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 .product_meta a{color:#707070;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 a.woocommerce-review-link:hover, .eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 .product_meta a:hover{color:#707070;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 div.product table tbody tr, .elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-popup.woocommerce div.product .product_meta{border-color:#ccc;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 div.product form.cart div.quantity .qty, .elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-popup.woocommerce div.product form.cart div.quantity > a, .elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-popup.woocommerce div.product form.cart div.quantity > .button{color:#000;background-color:#fff;border-color:#000;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 div.product form.cart div.quantity .qty:focus{border-color:#000;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 .button, .eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 button.button.alt{color:#fff;background-color:#8040FF;}.eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 .button:hover, .eael-popup-details-render.elementor-392 .elementor-element.elementor-element-1ed3001 button.button.alt:hover{color:#F5EAFF;background-color:#F12DE0;}.elementor-392 .elementor-element.elementor-element-7086e04 > .elementor-container{min-height:415px;}.elementor-392 .elementor-element.elementor-element-bfa54cf > .elementor-element-populated{text-align:center;}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-1e92c83.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-1e92c83.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-e70cc6e{text-align:right;}.elementor-392 .elementor-element.elementor-element-e70cc6e .elementor-heading-title{font-size:30px;font-weight:600;}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-7a4158d.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-7a4158d.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-e26b435 .elementor-icon-wrapper{text-align:center;}.elementor-392 .elementor-element.elementor-element-e26b435.elementor-view-stacked .elementor-icon{background-color:#E3A420;}.elementor-392 .elementor-element.elementor-element-e26b435.elementor-view-framed .elementor-icon, .elementor-392 .elementor-element.elementor-element-e26b435.elementor-view-default .elementor-icon{color:#E3A420;border-color:#E3A420;}.elementor-392 .elementor-element.elementor-element-e26b435.elementor-view-framed .elementor-icon, .elementor-392 .elementor-element.elementor-element-e26b435.elementor-view-default .elementor-icon svg{fill:#E3A420;}.elementor-392 .elementor-element.elementor-element-e26b435 .elementor-icon{font-size:33px;}.elementor-392 .elementor-element.elementor-element-e26b435 .elementor-icon i, .elementor-392 .elementor-element.elementor-element-e26b435 .elementor-icon svg{transform:rotate(0deg);}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-42637d8.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-42637d8.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-0859ae2{margin-top:20px;margin-bottom:20px;}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-127ccc2.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-127ccc2.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-3dca604{text-align:right;}.elementor-392 .elementor-element.elementor-element-3dca604 .elementor-heading-title{font-size:30px;font-weight:600;}.elementor-392 .elementor-element.elementor-element-62b6f3d .elementor-icon-wrapper{text-align:center;}.elementor-392 .elementor-element.elementor-element-62b6f3d.elementor-view-stacked .elementor-icon{background-color:#FF0000;}.elementor-392 .elementor-element.elementor-element-62b6f3d.elementor-view-framed .elementor-icon, .elementor-392 .elementor-element.elementor-element-62b6f3d.elementor-view-default .elementor-icon{color:#FF0000;border-color:#FF0000;}.elementor-392 .elementor-element.elementor-element-62b6f3d.elementor-view-framed .elementor-icon, .elementor-392 .elementor-element.elementor-element-62b6f3d.elementor-view-default .elementor-icon svg{fill:#FF0000;}.elementor-392 .elementor-element.elementor-element-62b6f3d .elementor-icon{font-size:33px;}.elementor-392 .elementor-element.elementor-element-62b6f3d .elementor-icon i, .elementor-392 .elementor-element.elementor-element-62b6f3d .elementor-icon svg{transform:rotate(0deg);}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-f3d52e4.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-f3d52e4.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-8a6d245.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-8a6d245.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-3f61713{text-align:right;}.elementor-392 .elementor-element.elementor-element-3f61713 .elementor-heading-title{font-size:30px;font-weight:600;}.elementor-392 .elementor-element.elementor-element-c201f49 .elementor-icon-wrapper{text-align:center;}.elementor-392 .elementor-element.elementor-element-c201f49.elementor-view-stacked .elementor-icon{background-color:#4220E3;}.elementor-392 .elementor-element.elementor-element-c201f49.elementor-view-framed .elementor-icon, .elementor-392 .elementor-element.elementor-element-c201f49.elementor-view-default .elementor-icon{color:#4220E3;border-color:#4220E3;}.elementor-392 .elementor-element.elementor-element-c201f49.elementor-view-framed .elementor-icon, .elementor-392 .elementor-element.elementor-element-c201f49.elementor-view-default .elementor-icon svg{fill:#4220E3;}.elementor-392 .elementor-element.elementor-element-c201f49 .elementor-icon{font-size:33px;}.elementor-392 .elementor-element.elementor-element-c201f49 .elementor-icon i, .elementor-392 .elementor-element.elementor-element-c201f49 .elementor-icon svg{transform:rotate(0deg);}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-bf71f79.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-bf71f79.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-0bdb5a3 > .elementor-element-populated{text-align:center;}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-2ac50ad.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-2ac50ad.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-7068caf.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-7068caf.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-3017b93 .elementor-icon-wrapper{text-align:center;}.elementor-392 .elementor-element.elementor-element-3017b93.elementor-view-stacked .elementor-icon{background-color:#20E3E0;}.elementor-392 .elementor-element.elementor-element-3017b93.elementor-view-framed .elementor-icon, .elementor-392 .elementor-element.elementor-element-3017b93.elementor-view-default .elementor-icon{color:#20E3E0;border-color:#20E3E0;}.elementor-392 .elementor-element.elementor-element-3017b93.elementor-view-framed .elementor-icon, .elementor-392 .elementor-element.elementor-element-3017b93.elementor-view-default .elementor-icon svg{fill:#20E3E0;}.elementor-392 .elementor-element.elementor-element-3017b93 .elementor-icon{font-size:33px;}.elementor-392 .elementor-element.elementor-element-3017b93 .elementor-icon i, .elementor-392 .elementor-element.elementor-element-3017b93 .elementor-icon svg{transform:rotate(0deg);}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-d4d7fbc.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-d4d7fbc.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-d82dce6{text-align:left;}.elementor-392 .elementor-element.elementor-element-d82dce6 .elementor-heading-title{font-size:30px;font-weight:600;}.elementor-392 .elementor-element.elementor-element-e9269d5{margin-top:20px;margin-bottom:20px;}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-bba1534.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-bba1534.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-113e164 .elementor-icon-wrapper{text-align:center;}.elementor-392 .elementor-element.elementor-element-113e164.elementor-view-stacked .elementor-icon{background-color:#04CEFF;}.elementor-392 .elementor-element.elementor-element-113e164.elementor-view-framed .elementor-icon, .elementor-392 .elementor-element.elementor-element-113e164.elementor-view-default .elementor-icon{color:#04CEFF;border-color:#04CEFF;}.elementor-392 .elementor-element.elementor-element-113e164.elementor-view-framed .elementor-icon, .elementor-392 .elementor-element.elementor-element-113e164.elementor-view-default .elementor-icon svg{fill:#04CEFF;}.elementor-392 .elementor-element.elementor-element-113e164 .elementor-icon{font-size:33px;}.elementor-392 .elementor-element.elementor-element-113e164 .elementor-icon i, .elementor-392 .elementor-element.elementor-element-113e164 .elementor-icon svg{transform:rotate(0deg);}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-ff8bacf.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-ff8bacf.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-3f10785{text-align:left;}.elementor-392 .elementor-element.elementor-element-3f10785 .elementor-heading-title{font-size:30px;font-weight:600;}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-ee3e4e7.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-ee3e4e7.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-6ca6722 .elementor-icon-wrapper{text-align:center;}.elementor-392 .elementor-element.elementor-element-6ca6722.elementor-view-stacked .elementor-icon{background-color:#00FF34;}.elementor-392 .elementor-element.elementor-element-6ca6722.elementor-view-framed .elementor-icon, .elementor-392 .elementor-element.elementor-element-6ca6722.elementor-view-default .elementor-icon{color:#00FF34;border-color:#00FF34;}.elementor-392 .elementor-element.elementor-element-6ca6722.elementor-view-framed .elementor-icon, .elementor-392 .elementor-element.elementor-element-6ca6722.elementor-view-default .elementor-icon svg{fill:#00FF34;}.elementor-392 .elementor-element.elementor-element-6ca6722 .elementor-icon{font-size:33px;}.elementor-392 .elementor-element.elementor-element-6ca6722 .elementor-icon i, .elementor-392 .elementor-element.elementor-element-6ca6722 .elementor-icon svg{transform:rotate(0deg);}.elementor-bc-flex-widget .elementor-392 .elementor-element.elementor-element-fe70698.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-392 .elementor-element.elementor-element-fe70698.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-392 .elementor-element.elementor-element-c0fa4f5{text-align:left;}.elementor-392 .elementor-element.elementor-element-c0fa4f5 .elementor-heading-title{font-size:30px;font-weight:600;}body.elementor-page-392 .eael-toc.eael-sticky .eael-toc-body{max-height:50vh;height:50vh;}body.elementor-page-392 .eael-toc.eael-sticky{top:200px !important;}body.elementor-page-392 .eael-toc{z-index:9999;width:300px;}body.elementor-page-392 .eael-toc .eael-toc-body ul.eael-toc-list.eael-toc-bullet li:before{width:8px;height:8px;top:-2px;}body.elementor-page-392 .eael-toc:not(.eael-toc-right){border-top-right-radius:5px;border-bottom-right-radius:5px;}body.elementor-page-392 .eael-toc:not(.eael-toc-right) .eael-toc-header{border-top-right-radius:5px;}body.elementor-page-392 .eael-toc:not(.eael-toc-right) .eael-toc-body{border-bottom-right-radius:5px;}body.elementor-page-392 .eael-toc.eael-toc-right{border-top-left-radius:5px;border-bottom-left-radius:5px;}body.elementor-page-392 .eael-toc.eael-toc-right .eael-toc-header{border-top-left-radius:5px;}body.elementor-page-392 .eael-toc.eael-toc-right .eael-toc-body{border-bottom-left-radius:5px;}body.elementor-page-392 .eael-toc .eael-toc-header{background-color:#ff7d50;}body.elementor-page-392 .eael-toc.collapsed .eael-toc-button{background-color:#ff7d50;color:#ffffff;}body.elementor-page-392 .eael-toc .eael-toc-header .eael-toc-title{color:#ffffff;}body.elementor-page-392 .eael-toc .eael-toc-close{background-color:#ffffff;color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body{background-color:#fff6f3;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list li{color:#707070;padding-top:8px;padding-bottom:8px;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list.eael-toc-number li:before{color:#707070;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list.eael-toc-bullet li:before{background-color:#707070;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list li a{color:#707070;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list li:hover{color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list.eael-toc-number li:hover:before{color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list.eael-toc-bullet li:hover:before{background-color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list li:hover > a{color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list li:hover > a:before{border-bottom-color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list li:hover > a:after{background-color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list li.eael-highlight-active{color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list.eael-toc-number li.eael-highlight-active:before{color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list.eael-toc-bullet li.eael-highlight-active:before{background-color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list li.eael-highlight-active > a{color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list li.eael-highlight-active > a:before{border-bottom-color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list li.eael-highlight-active > a:after{background-color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list li.eael-highlight-parent{color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list.eael-toc-number li.eael-highlight-parent:before{color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list.eael-toc-bullet li.eael-highlight-parent:before{background-color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list li.eael-highlight-parent > a{color:#ff7d50;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list li ul li{padding-top:1px;padding-bottom:1px;}body.elementor-page-392 .eael-toc .eael-toc-body .eael-toc-list > li:not(:last-child){border-bottom:0.5px dashed;border-bottom-color:#c6c4cf;}body.elementor-page-392:not(.elementor-motion-effects-element-type-background), body.elementor-page-392 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}@media(min-width:768px){.elementor-392 .elementor-element.elementor-element-7471625{width:21.14%;}.elementor-392 .elementor-element.elementor-element-247b943{width:78.86%;}.elementor-392 .elementor-element.elementor-element-2260dbe{width:45.396%;}.elementor-392 .elementor-element.elementor-element-04df809{width:54.604%;}.elementor-392 .elementor-element.elementor-element-cb9581e{width:51.557%;}.elementor-392 .elementor-element.elementor-element-0645f78{width:48.443%;}.elementor-392 .elementor-element.elementor-element-1e92c83{width:41.318%;}.elementor-392 .elementor-element.elementor-element-7a4158d{width:18.923%;}.elementor-392 .elementor-element.elementor-element-42637d8{width:39.09%;}.elementor-392 .elementor-element.elementor-element-127ccc2{width:38.445%;}.elementor-392 .elementor-element.elementor-element-b57f033{width:21.131%;}.elementor-392 .elementor-element.elementor-element-f3d52e4{width:39.755%;}.elementor-392 .elementor-element.elementor-element-8a6d245{width:38.139%;}.elementor-392 .elementor-element.elementor-element-b34ac80{width:24.335%;}.elementor-392 .elementor-element.elementor-element-bf71f79{width:36.857%;}.elementor-392 .elementor-element.elementor-element-2ac50ad{width:42.013%;}.elementor-392 .elementor-element.elementor-element-7068caf{width:16%;}.elementor-392 .elementor-element.elementor-element-d4d7fbc{width:41.318%;}.elementor-392 .elementor-element.elementor-element-bba1534{width:36.985%;}.elementor-392 .elementor-element.elementor-element-0f31bd9{width:18.513%;}.elementor-392 .elementor-element.elementor-element-ff8bacf{width:43.833%;}.elementor-392 .elementor-element.elementor-element-ee3e4e7{width:41.012%;}.elementor-392 .elementor-element.elementor-element-b8d5e10{width:20.18%;}.elementor-392 .elementor-element.elementor-element-fe70698{width:38.139%;}}@media(min-width:1025px){.elementor-392 .elementor-element.elementor-element-a623fe3:not(.elementor-motion-effects-element-type-background), .elementor-392 .elementor-element.elementor-element-a623fe3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-attachment:fixed;}}/* Start custom CSS for column, class: .elementor-element-73176f5 */.elementor-392 .elementor-element.elementor-element-73176f5{
    overflow: hidden;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-cade779 */.elementor-392 .elementor-element.elementor-element-cade779:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: none;
    
    left: 0;
    border: 10px solid #f2d70c;
    opacity: 0;
    transition: all .1s;
    
}
.elementor-392 .elementor-element.elementor-element-cade779:hover:before{
     opacity: 0.5;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-cf02dde */.elementor-392 .elementor-element.elementor-element-cf02dde{
    transition: all 1s;
}
.elementor-392 .elementor-element.elementor-element-cf02dde:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: white;
   opacity: 0;
    
    left: 0;
    transition: all 1s;
   
    
    
}
.elementor-392 .elementor-element.elementor-element-cf02dde:hover:before{
     opacity: 0.7;
}
.elementor-392 .elementor-element.elementor-element-cf02dde:hover{
    transform: scale(1.1);
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-5dfcb7f */.elementor-392 .elementor-element.elementor-element-5dfcb7f{
    overflow: hidden;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-79c3d7d */.elementor-392 .elementor-element.elementor-element-79c3d7d{
    border-bottom: 1px solid #000;
    height: 30px;
}/* End custom CSS */
/* Start custom CSS for eael-woo-product-carousel, class: .elementor-element-5b9ffb0 */.elementor-392 .elementor-element.elementor-element-5b9ffb0 .swiper-container-wrap .swiper-button-prev{
   left:90%;
    top:-50px;
}
.elementor-392 .elementor-element.elementor-element-5b9ffb0 .swiper-container-wrap .swiper-button-next{
    top:-50px;
    right:20px
}
/*.eael-woo-product-carousel-container .icons-wrap.box-style{*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    transition: all 1s;*/
    
  
/*}*/
/*.icons-wrap.box-style{*/
    
/*}*/
/*.eael-woo-product-carousel-container.preset-1 .eael-product-carousel:hover .icons-wrap.box-style{*/
/*    top: 0;*/
/*    height: 100%;*/
/*    background: rgba(0,0,0,.1);*/
    
    
/*    color: #333;*/
    
    
    
/*}*//* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-7a175e0 */.elementor-392 .elementor-element.elementor-element-7a175e0{
    transition: all 1s;
}
.elementor-392 .elementor-element.elementor-element-7a175e0:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: green;
   opacity: 0;
    
    left: 0;
    transition: all 1s;
   
    
    
}
.elementor-392 .elementor-element.elementor-element-7a175e0:hover:before{
     opacity: 0.3;
}
.elementor-392 .elementor-element.elementor-element-7a175e0:hover{
    transform: scale(1.1);
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-5b45c42 */.elementor-392 .elementor-element.elementor-element-5b45c42{
    overflow: hidden;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-c848204 */.elementor-392 .elementor-element.elementor-element-c848204:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: none;
    left: 0;
    border: 10px solid #e3609e;
    opacity: 0;
    transition: all .1s;
    
}
.elementor-392 .elementor-element.elementor-element-c848204:hover:before{
     opacity: 0.5;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-9e5faad */.elementor-392 .elementor-element.elementor-element-9e5faad{
    transition: all 1s;
    overflow: hidden;
}
.elementor-392 .elementor-element.elementor-element-9e5faad:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: pink;
   opacity: 0;
    
    left: 0;
    transition: all 1s;
   
    
    
}
.elementor-392 .elementor-element.elementor-element-9e5faad:hover:before{
     opacity: 0.3;
}
.elementor-392 .elementor-element.elementor-element-9e5faad:hover{
    transform: scale(1.1);
}/* End custom CSS */
/* Start custom CSS for eael-countdown, class: .elementor-element-8c05fff */.elementor-392 .elementor-element.elementor-element-8c05fff .eael-countdown-digits{
    border: 1px solid ;
    height: 100px;
    line-height: 100px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-a623fe3 */.elementor-392 .elementor-element.elementor-element-a623fe3{
   position: relative;
   
}/* End custom CSS */
/* Start custom CSS for eael-woo-product-gallery, class: .elementor-element-1ed3001 */.elementor-392 .elementor-element.elementor-element-1ed3001 .eael-product-gallery .eael-product-wrap .icons-wrap:not(.details-block-style-2) li a{
    box-shadow: 0px 10px  14px #333
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-e26b435 */.elementor-392 .elementor-element.elementor-element-e26b435{
    position: relative;
   
    
    
    
}
.elementor-392 .elementor-element.elementor-element-e26b435:before{
    content: '';
    height: 100px;
    width: 100px;
    border: 1px dotted red;
    position: absolute;
    right:  6px;
    bottom: -65%;
    border-radius: 50px;
    font-size: 20px;
    transition: All .5s;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-7a4158d */.elementor-392 .elementor-element.elementor-element-7a4158d{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
height: 100px;    
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-1aa6623 */.elementor-392 .elementor-element.elementor-element-1aa6623{position: absolute;
    right: -55%;
    
    
    display: inline;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-42637d8 */.elementor-392 .elementor-element.elementor-element-42637d8{
    position: absolute;
    right: 0;
    height: 300px;
    width: 600px;
    top:0;
    
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-977d54d */.elementor-392 .elementor-element.elementor-element-977d54d:hover .hoveritem:before{
    width: 350px
}
.elementor-392 .elementor-element.elementor-element-977d54d:hover #img-1{
  display: inline;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-62b6f3d */.elementor-392 .elementor-element.elementor-element-62b6f3d{
    position: relative;
    /*height: 100px;*/
    /*font-size: 30px*/
    
    
    
    
}
.elementor-392 .elementor-element.elementor-element-62b6f3d:before{
    content: '';
    height: 100px;
    width: 100px;
    border: 1px dotted red;
    position: absolute;
    right:  6px;
    bottom: -65%;
    border-radius: 50px;
    font-size: 20px;
    transition: All .5s;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b57f033 */.elementor-392 .elementor-element.elementor-element-b57f033{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
height: 100px;    
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-1b65151 */.elementor-392 .elementor-element.elementor-element-1b65151{position: absolute;
    right: -55%;
    
    display: none;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-f3d52e4 */.elementor-392 .elementor-element.elementor-element-f3d52e4{
    position: absolute;
    right: 0;
    height: 300px;
    width: 600px;
    top:-100%;
    
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-0859ae2 */.elementor-392 .elementor-element.elementor-element-0859ae2:hover .hoveritem:before{
    width: 350px
}
.elementor-392 .elementor-element.elementor-element-0859ae2:hover #img-2{
   display: inline;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-c201f49 */.elementor-392 .elementor-element.elementor-element-c201f49{
    position: relative;
    /*height: 100px;*/
    /*font-size: 30px*/
    
    
    
    
}
.elementor-392 .elementor-element.elementor-element-c201f49:before{
    content: '';
    height: 100px;
    width: 100px;
    border: 1px dotted red;
    position: absolute;
    right:  6px;
    bottom: -65%;
    border-radius: 50px;
    font-size: 20px;
    transition: All .5s;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b34ac80 */.elementor-392 .elementor-element.elementor-element-b34ac80{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
height: 100px;    
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-36c11e9 */.elementor-392 .elementor-element.elementor-element-36c11e9{
    position: absolute;
    right: -55%;
    
    display: none;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-bf71f79 */.elementor-392 .elementor-element.elementor-element-bf71f79{
    position: absolute;
    right: 0;
    height: 300px;
    width: 600px;
    top:-200%;
    
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-28ce52e */.elementor-392 .elementor-element.elementor-element-28ce52e:hover .hoveritem:before{
    width: 350px
}
.elementor-392 .elementor-element.elementor-element-28ce52e:hover #img-3{
   display: inline;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-bfa54cf */.elementor-392 .elementor-element.elementor-element-bfa54cf{
    position:relative;
    left: 0%;
    top:0;
    /*z-index: -1000;*/
    
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-6f170ee */.elementor-392 .elementor-element.elementor-element-6f170ee{
    position: absolute;
   left: -50%;
    
    top:50%;
    display: none;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-2ac50ad */.elementor-392 .elementor-element.elementor-element-2ac50ad{
   
   
    width: 600px;
   
    
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-3017b93 */.elementor-392 .elementor-element.elementor-element-3017b93{
    position: relative;
   
    
    
    
}
.elementor-392 .elementor-element.elementor-element-3017b93:before{
    content: '';
    height: 100px;
    width: 100px;
    border: 1px dotted red;
    position: absolute;
    left:  6px;
    bottom: -65%;
    border-radius: 50px;
    font-size: 20px;
    transition: All .5s;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-7068caf */.elementor-392 .elementor-element.elementor-element-7068caf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
height: 100px;    
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-3cae61b */.elementor-392 .elementor-element.elementor-element-3cae61b:hover .hoveritem:before{
    width: 350px
}
.elementor-392 .elementor-element.elementor-element-3cae61b:hover #img4{
  display: inline;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-ae24dc0 */.elementor-392 .elementor-element.elementor-element-ae24dc0{
    position: absolute;
    left: -50%;
    display: none;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-bba1534 */.elementor-392 .elementor-element.elementor-element-bba1534{
   
    
    width: 600px
    
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-113e164 */.elementor-392 .elementor-element.elementor-element-113e164{
    position: relative;
    /*height: 100px;*/
    /*font-size: 30px*/
    
    
    
    
}
.elementor-392 .elementor-element.elementor-element-113e164:before{
    content: '';
    height: 100px;
    width: 100px;
    border: 1px dotted red;
    position: absolute;
    left:  6px;
    bottom: -65%;
    border-radius: 50px;
    font-size: 20px;
    transition: All .5s;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-0f31bd9 */.elementor-392 .elementor-element.elementor-element-0f31bd9{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
height: 100px;    
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-e9269d5 */.elementor-392 .elementor-element.elementor-element-e9269d5:hover .hoveritem:before{
    width: 350px
}
.elementor-392 .elementor-element.elementor-element-e9269d5:hover #img-5{
   display: inline;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-2854a95 */.elementor-392 .elementor-element.elementor-element-2854a95{position: absolute;
    left : -50%;
    top:-230%;
   
    display: none;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ee3e4e7 */.elementor-392 .elementor-element.elementor-element-ee3e4e7{
   
   
    width: 600px;
    
    
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-6ca6722 */.elementor-392 .elementor-element.elementor-element-6ca6722{
    position: relative;
    /*height: 100px;*/
    /*font-size: 30px*/
    
    
    
    
}
.elementor-392 .elementor-element.elementor-element-6ca6722:before{
    content: '';
    height: 100px;
    width: 100px;
    border: 1px dotted red;
    position: absolute;
    left:  6px;
    bottom: -65%;
    border-radius: 50px;
    font-size: 20px;
    transition: All .5s;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b8d5e10 */.elementor-392 .elementor-element.elementor-element-b8d5e10{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
height: 100px;    
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-96ff8f0 */.elementor-392 .elementor-element.elementor-element-96ff8f0:hover .hoveritem:before{
    width: 350px
}
.elementor-392 .elementor-element.elementor-element-96ff8f0:hover #img-6{
   display: inline;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-0bdb5a3 */.elementor-392 .elementor-element.elementor-element-0bdb5a3{
    position:relative;
    left: 0%;
    top:0;
    /*z-index: -1000;*/
    
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-7086e04 */.elementor-392 .elementor-element.elementor-element-7086e04{
    position: relative;
}/* End custom CSS */